<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ứng dụng đặt đồ ăn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Màn hình khởi chạy chính -->
        <activity android:name=".MainActivity"
            android:exported="true"> <!-- Đây là activity chính khởi chạy -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Đăng nhập / Đăng ký -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <!-- Giao diện chính theo vai trò -->
        <activity android:name=".AdminActivity" />
        <activity android:name=".NhanVienActivity" />

        <!-- Giao diện quản lý cho Admin -->
        <activity android:name=".QuanLyMonAnActivity" />
        <activity android:name=".QuanLyNhanVienActivity" />
        <activity android:name=".XemDonHangActivity" />

        <!-- Giao diện chọn bàn và đặt món cho nhân viên -->
        <activity android:name=".ChonBanActivity" />
        <activity android:name=".MenuMonAnActivity" />
        <activity android:name=".GioHangActivity" />
        <activity android:name=".ThanhToanActivity" />
        <activity android:name=".DonHangDetailActivity" />

        <activity android:name=".AddMonAnActivity" />
        <activity android:name=".EditMonAnActivity" />


    </application>

</manifest>
